@import "tailwindcss";

/* dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: oklch(98.4% 0.019 200.873);
  --color-primary-100: oklch(95.1% 0.026 236.824);
  --color-primary-200: oklch(90.1% 0.058 230.902);
  --color-primary-300: oklch(82.8% 0.111 230.318);
  --color-primary-400: oklch(74.6% 0.16 232.661);
  --color-primary-500: oklch(68.5% 0.169 237.323);
  --color-primary-600: oklch(58.8% 0.158 241.966);
  --color-primary-700: oklch(50% 0.134 242.749);
  --color-primary-800: oklch(44.3% 0.11 240.79);
  --color-primary-900: oklch(39.1% 0.09 240.876);
  --color-primary-950: oklch(29.3% 0.066 243.157);
}